<?xml version="1.0"?>
<config>
    <modules>
        <Webgriffe_PHPUnit>
            <version>1.0.0</version>
        </Webgriffe_PHPUnit>
    </modules>
    <global>
        <models>
            <webgriffe_phpunit>
                <class>Webgriffe_PHPUnit_Model</class>
                <resourceModel>webgriffe_phpunit_resource</resourceModel>
            </webgriffe_phpunit>
            <webgriffe_phpunit_resource>
                <class>Webgriffe_PHPUnit_Model_Resource</class>
            </webgriffe_phpunit_resource>
        </models>
        <blocks>
            <webgriffe_phpunit>
                <class>Webgriffe_PHPUnit_Block</class>
            </webgriffe_phpunit>
        </blocks>
        <helpers>
            <webgriffe_phpunit>
                <class>Webgriffe_PHPUnit_Helper</class>
            </webgriffe_phpunit>
        </helpers>
        <resources>
            <webgriffe_phpunit_setup>
                <setup>
                    <module>Webgriffe_PHPUnit</module>
                </setup>
            </webgriffe_phpunit_setup>
        </resources>
    </global>
</config>
